@model Sample.ViewModel.CalculadoraViewModel

<br />
<br />

<form asp-controller="Home" asp-action="Calcular" method="post" class="form-horizontal">
    <div class="form-group">
        <label>Parametro 1</label>
        <input asp-for="Param1" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label>Parametro 2</label>
        <input asp-for="Param2" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tipo de Operação</label>
        <select asp-for="OperationType" class="form-control">
            <option value="Somar">Somar</option>
            <option value="Subtrair">Subtrair</option>
            <option value="Multiplicar">Multiplicar</option>
            <option value="Dividir">Dividir</option>
        </select>
    </div>

    @if (ViewBag.Resultado != null)
    {
        <div class="form-group">
            <strong>Resultado da Operação é: @ViewBag.Resultado</strong>
            <br />
        </div>
    }

    <div class="form-group">
        <input type="submit" value="Calcular" />
    </div>

</form>
